body {
    font-family: "Noto Serif";
    background-color: #FFF6EA;
    padding: 20px;
}

head {
    @import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');
    font-family: "Noto Serif";
}

h1 {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    font-size:2em;

}
h2 {
    text-align: center;
    background-color: white;
    padding: 30px;
}
h3 {
    text-align: center;
    background-color: bisque;
    padding: 20px;
}

p {
    line-height: 1.8; 
    padding-left: 20px;
}
p2 {
    text-align: center;
}

p1{
    text-align: center;
}
p3 {
    text-align: center;
    font-family: Radley;

}

.title {
    text-align: center;
}

.image-container {
    display: flex;             
    align-items: flex-start;   
    gap: 50px;                  
}
.image-container img {
    transition: transform 0.3s ease;  
}
.image-container img:hover {
    transform: scale(1.02);  
}

.text-container {
    display: flex;
    flex-direction: column;    
    gap: 5px;                  
    max-width: 100%;
}

.card-container {
    display: flex;
    justify-content: space-evenly;  
    border-radius: 0px;
}

.card {
    display: flex;
    flex-direction: column;    
    background-color: whitesmoke;
        max-width: 1100px; 
    width: 100%;
    padding: 40px;
    box-shadow: 4px 5px 16px gray;
    border-radius: 20px;

}

button {
    margin-top: 25px;
    padding: 20px;
    background-color: skyblue;
    color: white;
    font-size: 20px;
}
button:hover {
    background-color: rgb(179, 217, 229);
    cursor: pointer;

}

@media screen and (max-width: 600px) {
	.image-container {
        flex-direction: column;  
        align-items: center;  
    }
img {
    width: 80%;  
    height: auto;
    max-width: 400px;  
    
}
text-container {
    max-width: 80%;  
    text-align: center;  
}
p2 {
    font-family: Radley;
    color: black;
    font-size: 28px;  
}
p1 {
    font-family: Radley;
    color: black;
    font-size: 16px; 
    font-style: italic;
}
p {
    font-family: Radley;
    color: black;
    font-size: 18px; 
}

.containers__left{
    display: none;
}
.multipleCards-container{
    border-radius: 10px;
}

}


.topnav {
    display: flex;
    overflow:hidden;
    background-color:#FFF6EA;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

}
.topnav a {
    display: inline-flex;
    align-items: center;
    font-family: "Noto Serif";
    text-decoration:none;
    color: black;
    text-align: center;
    padding: 20px 20px;
    font-size: 17px;
    justify-content: center;
    transition: background-color 0.3s ease;

}

.topnav a:hover {
    font-family: "Noto Serif";
    text-decoration:none;
    transition: transform 0.3s ease;  
   transform: scale(1.05); 
    font-weight: 150%;
    color:black;
}
.topnav a.active{ 
    background-color: 04AA6D;
    color:white;
}

.multipleCards-container {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    gap: 20px;  
    margin: 20px 0;  
    padding: 0 20px; 
}

.multiple-Card {
    background-color: transparent;
    width: 550px; 
    height: 100%;
    border-radius: 15px; 
    overflow: hidden; 
    text-align: center;
    padding: 30px;  
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.multiple-Card img {
    width: 100%;  
    height: 350px; 
    object-fit: cover;   
    border-radius: 10px; 
    margin-bottom: 20px; 
    transition: transform 0.3s ease; 
}

.multiple-Card img:hover {
    transform: scale(1.05); 
}

.multiple-Card button {
    padding: 12px 25px; 
    background-color: #9accd8;   
    color: white;
    font-size: 18px;  
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;   
}

.multiple-Card button:hover {
    background-color: #458ce9;   
}

 @media (max-width: 768px) {
    .multiple-Card {
        width: 100%;   
        padding: 20px;   
    }
    
    .multipleCards-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

buttons {
    margin-top: 15px;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 1rem;
    justify-content: center;
}


:root{
    --primary-color:black;
    --primary-color-dark:black;
    --text-dark:#333333;
    --white: #ffffff;

}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


.containers {
    max-width: 1200px;
    margin:auto;
    padding:1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    justify-content: center;
}

.containers__left h1 {
    margin-bottom: 2em;
    font-size: 2.5em;
    font-weight: 500;
    color: var(--primary-color);
}
.containers__left p {
    margin-bottom: 1em;
    line-height: 1.8;  
    padding-left: 0px;
    font-family: Radley;
}
.containers__left button {
    padding: 1re 2rem;
    margin-top: 1em;
    outline: none;
    border:none;
    border-radius: 5px;
    background: linear-gradient(
        to right,
        var(--primary-color),
        var(--primary-color-dark)
    );
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
}

.containers__right {
    display: grid;
    gap: 2rem;

}
.containers__left img {
    width: 100%; 
    margin-left: 40px;
    max-width: 450px;  
    height: auto;  
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
}

.containers__left img:hover {
    transform: scale(1.05);  
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);  
}
.cards{
    padding: 2rem;
    display: flex;
    align-items: flext-start;
    gap: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 4px 5px 16px gray;

}


.cards__content {
    display: flex;
    gap: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0);

}
.cards__content span i{
    font-size: 2rem;
    color: var(--primary-color);
}



.contact-container {
    justify-content: center;
    align-items: center;
    text-align: center; 
    flex-direction: column;
    width: 90%; 
    margin:auto;;
    background-color: FFF6EA;

}


.contact-container h1 {
    font-size: 24px;
    margin-bottom: 15px;
    color: black;
}

.contact-container p {
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
    line-height: 2.5;
}

.contact-container a {
    color: #007bff;  
    text-decoration: none;  
    font-weight: bold;
}

.contact-container a:hover {
    text-decoration: underline;  
}

.hidden{
    opacity: 0;
    transition: all 3s;
}

.show {
    opacity: 1;
}

.hiddens {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100%);
    transition: all 2s;
}

.shows{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
} */

.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 600ms;
}

.logo:nth-child(4) {
    transition-delay: 1000ms;
}

@media (prefers-reduced-motion: reduce) {
    .hidden {
        transition: none;  
    }

    .hiddens {
        transition: none;  
    }
}
.image-track .image {
    width: 24.6%;
    height: 400px;
    padding-left: 5px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.image-track .image:hover {
    transform: scale(1.0);   
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);  
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
}

.scroll-left {
    height: 80px;              
    overflow: hidden;          
    position: relative;        
    background-color: #FFF6EA;    
    display: flex;
    justify-content: center;    
    align-items: center;       

}

.scroll-left p {
    margin: 0;
    font-size: 100px;           
    font-weight: 200;          
    color: #000000;             
    letter-spacing: 2px;       
    text-transform: uppercase; 
    white-space: nowrap;      
        transform: translateX(100%);
        animation: scroll-left 70s linear infinite;
}

 @keyframes scroll-left {
    0% {
        transform: translateX(40%);  
    }
    100% {
        transform: translateX(-70%);  
    }
}

@media screen and (max-width: 600px) {

    .topnav {
        flex-direction: column; 
        align-items: flex-start;
        padding: 10px; 
    }
    
    .topnav a {
        padding: 10px; 
        font-size: 16px; 
        text-align: center;
    }
    
    .topnav img {
        width: 20px; 
        height: auto;
    }
    .image {
        display: none; 
    }

}

